body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

canvas {
  width: 500px;
  height: 500px;
  background-color: white;
}

div {
  position: fixed;
  top: 10px;
  right: 10px;
}
